daemon off;

events {
  worker_connections  4096;
}

http {
  upstream prerender {
    server {{getenv "UPSTREAM_SERVICE"}};
  }

  server {
    listen {{getenv "LISTEN_ON"}};
    listen [::]:{{getenv "LISTEN_ON"}};
    server_name {{getenv "SERVER_NAME"}};

    root /app;
    index index.html;

    location / {
      include /etc/nginx/mime.types;
      try_files $uri @prerender;
    }

    location @prerender {
      proxy_set_header X-Prerender-Token {{getenv "PRERENDER_TOKEN"}};
      
      set $prerender 0;

      if ($http_user_agent ~* "googlebot|yahoo|bingbot|baiduspider|yandex|yeti|yodaobot|gigabot|ia_archiver|facebookexternalhit|twitterbot|developers\.google\.com") {
        set $prerender 1;
      }

      if ($args ~ "_escaped_fragment_|prerender=1") {
        set $prerender 1;
      }

      if ($http_user_agent ~ "Prerender") {
        set $prerender 0;
      }

      if ($uri ~* "\.(js|css|xml|less|png|jpg|jpeg|gif|pdf|doc|txt|ico|rss|zip|mp3|rar|exe|wmv|doc|avi|ppt|mpg|mpeg|tif|wav|mov|psd|ai|xls|mp4|m4a|swf|dat|dmg|iso|flv|m4v|torrent|ttf|woff|svg|eot)") {
        set $prerender 0;
      }

      if ($prerender = 1) {
        rewrite .* /$scheme://$host$request_uri? break;
        proxy_pass http://prerender;
      }

      if ($prerender = 0) {
        rewrite .* /index.html break;
      }
    }
  }
}
